@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --clr-neutral-pele-blue: hsl(243, 100%, 93%);
    --clr-neutral-grayish-blue: hsl(229, 7%, 55%);
    --clr-neutral-dark-blue: hsl(228, 56%, 26%);
    --clr-neutral-very-dark-blue: hsl(229, 57%, 11%);
}

#page-wrap {
    background-image: url("../images/bg-mobile.png");
    background-color: var(--clr-neutral-very-dark-blue);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
}

/* Main */
#main {
    max-width: 1440px;
    width: 85%;
    margin: calc(125rem / 16) auto;
}

@media (min-width: 915px) {
    #page-wrap {
        background-image: url("../images/bg-desktop.png");
    }

    #main {
        width: 67%;
    }
}

.box {
    background-color: var(--clr-neutral-dark-blue);
    padding: 2.3rem;
}

/* Box 1 */
.box-one {
    border-radius: .5rem 50% .5rem .5rem;
}

    #img-logo {
        max-width: calc(120rem / 16);
    }

    /* Icons Box */
    .icons-box {
        display: flex; /* Icons in row direction */
        gap: 1rem;
    }

    .img-box {
        display: grid;
        place-items: center;
        margin-top: 1.5rem; /* Space between logo and icons */
        padding: .6rem; /* The size icons boxes */
        background-color: var(--clr-neutral-very-dark-blue);
        border-radius: .5rem;
    }

/* Box 2 */
.box-two {
    margin-top: 1rem; /* Space between boxes */
    border-radius: .5rem;
    color: var(--clr-neutral-pele-blue);
}

.progress-box,
.box-two .span {
    margin-top: .8rem;
}

    .box-two .span {
        font-weight: 700;
    }

    .box-two p {
        text-align: center;
        font-size: .9rem;
    }
    .progress-box {
        min-width: 100%;
        height: 20px;
        background-color: var(--clr-neutral-very-dark-blue);
        border-radius: 1rem;
        overflow: hidden;
    }

    .progress-value {
        margin-top: 0;
        width: 80%;
        height: 100%;
        display: block;
        background: linear-gradient(90deg, rgba(255,163,153,1) 0%, rgba(255,77,151,1) 35%);
        position: relative;
    }

    .ball {
        position: absolute;
        right: 0;
    }

    .gb-box {
        display: flex;
        justify-content: space-between;
    }

    .float {
        position: absolute;
        display: none;
    }

/* Footer */
.attribution {
    font-size: 1rem;
    text-align: center;
    color: #fff;
    margin-bottom: 1rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}